/* PredictiveSearchBox style */
input[type='search']::-ms-reveal,
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.ais-PredictiveBox {
  padding: 8px 16px;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border: none;
  appearance: none;
  position: absolute;
  color: gray;
}

.ais-PredictiveSearchBox-Background {
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
}

input.ais-PredictiveSearchBox-input:focus {
  outline-width: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.ais-PredictiveSearchBox-input {
  width: 100%;
  padding: 8px 16px;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  appearance: none;
  position: relative;
  z-index: 2;
}

.ais-PredictiveSearchBox {
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ais-PredictiveSearchBox-reset {
  background: none;
  right: 0px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: inherit;
  margin: 14px 16px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.ais-PredictiveSearchBox-reset svg {
  fill: #ed5a6a;
  width: 13px;
  height: 13px;
  display: block;
}

.ais-SuggestionTagsContainer::-webkit-scrollbar {
  width: 0 !important;
  background: rgba(0, 0, 0, 0);
}

.ais-SuggestionTagsContainer {
  width: calc(100% - 10px);
  margin: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

.ais-SuggestionTag {
  padding: 0 10px 0 10px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: nowrap;
  background: #ececec;
  cursor: pointer;
}

.ais-SuggestionTag:hover {
  background: #b4b3b3;
}

.ais-SuggestionTag em {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}
