html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-image: url('/resources/images/fake_body.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#search-button {
  position: absolute;
  right: 172px;
  text-align: right;
  top: 118px;
  font-family: sans-serif;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    background-image: url('/resources/images/fake_body_mobile.jpg');
  }

  #search-button {
    left: 12px;
    top: 96px;
    width: calc(100% - 50px);
  }

  #search-button > button {
    width: 100%;
  }
}
