/* Colors */

$color-primary: #d02139;
$color-secondary: #21243d;

/* Text */

$font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
  ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* Media queries */

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
