.ais-ColorList {
  .ais-RefinementList-checkbox {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    &:hover,
    &:focus {
      border: 1px solid currentColor;
      box-shadow: inset 0 0 0 1px #fff;
    }
  }
  .ais-RefinementList-labelText {
    margin-top: 3px;
  }
  .ais-RefinementList-count {
    margin-top: 6px;
  }
}
