.ais-CurrentRefinements {
  padding-top: 1rem;
  @media (--algolia-theme-breakpoint-md-max) {
    padding: 0 0 1rem;
  }
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.ais-CurrentRefinements-item {
  align-items: center;
  background-color: var(--algolia-theme-color-primary);
  border-radius: 3px;
  color: #fff;
  display: flex;
  margin: 0.25rem 0;
  white-space: nowrap;
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.ais-CurrentRefinements-label {
  padding: 4px 4px 4px 8px;
  @media (--algolia-theme-breakpoint-md-max) {
    padding: 0.5rem;
  }
}

.ais-CurrentRefinements-categoryLabel {
  font-weight: bold;
  padding: 4px 6px 4px 0;
  @media (--algolia-theme-breakpoint-md-max) {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}

.ais-CurrentRefinements-delete {
  background: none;
  border: 0;
  border-left: 1px solid #fff;
  color: inherit;
  cursor: pointer;
  height: 100%;
  padding: 0 6px;
  @media (--algolia-theme-breakpoint-md-max) {
    padding: 0 0.5rem;
  }
}
