.uni-Hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
}

.uni-Hit-header {
  display: grid;
  grid-gap: 0.5rem;
}

.uni-Hit-title {
  font-size: 14px;
  letter-spacing: 0.025rem;
}

.uni-Hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  opacity: 0.7;
  text-transform: uppercase;
}

.uni-Hit-inner {
  border: 1px solid #fff;
  border-radius: 3px;
  color: inherit;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  position: relative;
  text-decoration: inherit;
  &:hover,
  &:focus {
    border-color: #ddd;
    box-shadow: 0 2px 6px rgba(200, 200, 200, 0.24);
    .uni-Hit-title {
      text-decoration: underline;
    }
    .ais-Highlight-highlighted,
    .ais-Snippet-highlighted {
      border-bottom: 0;
    }
  }
}

.uni-Hit-description {
  color: #777;
}

.uni-Hit-image {
  img {
    width: 100%;
  }
}

.uni-Hit-Body {
  display: grid;
  grid-gap: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.uni-Hit-Currency {
  color: var(--algolia-theme-primary);
  font-size: 13px;
  font-weight: 600;
  padding-right: 2px;
}

.uni-Hit-Actions {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 1rem;
}

.uni-Hit-ActionButton {
  background: none;
  border: 0;
  color: #999;
  cursor: pointer;
  padding: 0;
  transition: all 300ms ease-out;
  z-index: 1;
  @media screen and (prefers-reduced-motion: reduce) {
    svg {
      fill: transparent;
      transition: none;
    }
  }
  svg {
    fill: transparent;
    transition: all 150ms ease-out;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--algolia-theme-primary);
  }
  &:focus {
    transform: scale(1);
  }
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.3);
    svg {
      fill: currentColor;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .uni-Hit-ActionButton {
    transition: none;
  }
}

.uni-Hits--gridView {
  .uni-Hit-image {
    min-height: 152px;
  }
  .uni-Hit-Actions {
    bottom: 1rem;
  }
}

.uni-Hits--listView {
  .uni-Hit-inner {
    grid-template-columns: 100px 1fr;
  }
  .uni-Hit-image {
    min-height: 130px;
  }
  .uni-Hit-Actions {
    top: 1rem;
  }
}
