.uni-Hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
  h1 {
    font-size: 14px;
    letter-spacing: 0.025rem;
  }
  h2 {
    color: #21243d;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    opacity: 0.7;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }
  a {
    border: 1px solid #fff;
    border-radius: 3px;
    color: inherit;
    display: block;
    padding: 1rem;
    text-decoration: inherit;
    &:hover,
    &:focus {
      border-color: #ddd;
      box-shadow: 0 2px 6px rgba(200, 200, 200, 0.24);
      h1 {
        text-decoration: underline;
      }
      .ais-Highlight-highlighted,
      .ais-Snippet-highlighted {
        border-bottom: 0;
      }
    }
  }
}

.uni-Hit-Header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 180px;
  padding-bottom: 0.5rem;
}

.uni-Hit-Body {
  overflow-wrap: break-word;
  word-break: break-word;
}

.uni-Hit-Footer {
  padding-top: 0.5rem;
}

.uni-Hit-Currency {
  color: var(--algolia-theme-primary);
  font-size: 13px;
  font-weight: 600;
  padding-right: 2px;
}
