.ais-Panel .ais-Panel-headerButton {
  background: none;
  border: none;
  align-items: center;
  color: #21243d;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 0.678rem;
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.08rem;
  line-height: 1.6;
  padding: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  width: 100%;
}
