* {
  font-family: system-ui;
}

h1, h2, h3, h4 {
  margin: 0;
}

#euip-wrapper {
  background-color: #fff;
  position: fixed;
  top: 175px;
  left: 0;
  width: 100%;
  height: calc(100vh - 175px);
  overflow-y: scroll;

  .euip {
    width: 64rem;
    margin: 0 auto;

    p, ul {
      margin: 0;
    }

    &-searchBar {
      background-color: #fff;
      position: fixed;
      width: 64rem;
      padding-top: 24px;
      z-index: 2;

      &-inner {
        height: 52px;
        border-radius: 6px;
        box-shadow: 0 20px 44px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
      }

      &-input {
        width: 95%;
        margin-top: 4px;
        margin-left: 10px;
        font-size: 20px;
        font-family: system-ui;
        padding: 10px;
        background: none;
        border: none;
        color: #333;

        &::placeholder {
          font-style: italic;
          color: #d0d0d0;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-categorySuggestions {

    }

    &-leftColumn, &-rightColumn {
      margin-top: 136px;
    }

    &-leftColumn {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }

    &-rightColumn {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }

    .ais-Panel {
      position: relative;
      border-top: 1px solid #eaeaea;
      padding: 12px 0;
      color: #21243d;

      &-header {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 0;
        border-radius: 4px;
        position: relative;
        letter-spacing: 1.3px;
        cursor: pointer;
      }

      &-body {
        font-size: 12px;
      }

      &.opened, &.closed {
        .ais-Panel-header:after {
          position: absolute;
          top: 1px;
          right: 0;
          font-weight: normal;
          font-size: 16px;
          color: #c7c7c7;
        }
      }

      &.closed {
        .ais-Panel-header:after {
          content: "+";
        }
      }

      &.opened {
        .ais-Panel-header:after {
          content: "-";
        }
      }

      &-collapse {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 28px;
        cursor: pointer;
      }
    }

    .ais-RefinementList {
      padding: 8px 0;

      &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 12px;
        line-height: 2.2;
      }
    }

    .ais-SearchBox {
      &-form {
        input {
          margin-bottom: 8px;
          border: none;
          outline: none;
          background: #f3f3f3;
          font-size: 12px;
          padding: 10px 12px;
          width: 100%;
        }
      }

      &-submit, &-reset {
        display: none;
      }
    }

    .ais-Hits {
      &-list {
        list-style-type: none;
        padding: 0;
      }

      &-item {
        display: inline-block;
        width: calc(33.33% - 24px);
        border: none;
        padding: 8px 12px;
      }

      &-image {
        display: block;
        text-align: center;
        height: 260px;

        > img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      &-content {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.4;
      }

      &-category {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #949494;
      }

      &-title {
        font-size: 16px;
        font-weight: bold;
      }

      &-price {
        font-weight: bold;
        font-size: 15px;
        margin-top: 4px;
      }
    }
  }
}