.uni-App--open {
  overflow: hidden;
}

/* Loading */

.uni-LoadingProgress {
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  @media screen and (prefers-reduced-motion: reduce) {
    display: none;
  }
  &::after {
    animation: loadingProgress 6s cubic-bezier(0.2, 0.7, 0.4, 1) forwards;
    background: var(--algolia-theme-color-primary);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
    content: '';
    height: 4px;
    opacity: 0.5;
    position: absolute;
    transform-origin: left;
    width: 100%;
    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

@keyframes loadingProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(95%);
  }
}

/* Search box */

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  appearance: none;
  background: none;
  border: 0;
}

.ais-SearchBox-submit {
  color: var(--algolia-theme-color-primary);
}

.ais-SearchBox-reset {
  cursor: pointer;
}

.uni-SearchBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 740px;
  width: 100%;
}

/* Header */

.uni-Header {
  background: var(--algolia-theme-color-primary);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 54%,
    rgba(0, 0, 0, 0.1) 100%
  );
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  .ais-SearchBox-completion {
    align-items: center;
    color: #777;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
  }
  .ais-SearchBox-submit {
    padding: 4px 1rem 0 1.5rem;
    width: 48px;
  }
  .ais-SearchBox {
    width: 100%;
  }
  .ais-SearchBox-inputContainer {
    background: #ebecf3;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: #21243d;
    height: 100%;
    height: 64px;
  }
  .ais-SearchBox-input,
  .ais-SearchBox-completion {
    background: none;
    border-bottom: 1px solid transparent;
    height: 100%;
    padding: 0 48px;
    position: absolute;
    width: 100%;
  }
  .ais-SearchBox-input {
    color: inherit;
    &::placeholder {
      color: #21243d;

      /* Firefox */
      opacity: 1;
    }
  }
}

.uni-Header-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

.uni-CloseButton {
  align-items: center;
  background: #303030;
  border: 0;
  color: #cfcfcf;
  cursor: pointer;
  display: flex;
  height: 65px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
  &:hover,
  &:focus {
    color: #fff;
  }
}

/* Query Suggestions */

.uni-QuerySuggestions {
  align-items: flex-start;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5rem;
  width: 100%;
  @media (--algolia-theme-breakpoint-sm-max) {
    padding-top: 1rem;
  }
  * {
    outline-color: #fff;
  }
  em,
  mark {
    background: none;
    border: 0;
    color: inherit;
    padding: 0;
  }
}

.uni-QuerySuggestions--empty {
  visibility: hidden;
}

.uni-QuerySuggestions-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0.25rem 0;
  padding-right: 1rem;
  padding-top: 5px;
  @media (--algolia-theme-breakpoint-sm-max) {
    display: none;
  }
}

.uni-QuerySuggestions-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.uni-QuerySuggestions-item {
  line-height: 1;
  margin: 0.25rem 0;
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.uni-QuerySuggestions-button {
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 9999px;
  color: inherit;
  cursor: pointer;
  letter-spacing: 0.03rem;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

/* Refinements */

.uni-Refinements {
  @media (--algolia-theme-breakpoint-md-max) {
    background: #fff;
    box-shadow: -30px 0 50px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transform: translateX(120vh);
    transition: transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    will-change: transform;
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.uni-Refinements-scrollable {
  @media (--algolia-theme-breakpoint-md-max) {
    flex-grow: 1;
    padding: 1rem;
  }
}

.uni-Refinements-heading {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 1rem;
}

.uni-Refinements-closeButton {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  margin-right: -0.5rem;
  padding: 0.5rem;
  svg {
    height: auto;
    width: 20px;
  }
}

.uni-Refinements-button {
  background-color: #dddcdc;
  border: 0;
  border-radius: 8px;
  color: var(--algolia-theme-color-secondary);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: center;
  padding: 1rem 1.5rem;
  text-align: center;
}

.uni-Refinements-resultButton {
  background-color: var(--algolia-theme-color-primary);
  color: #fff;
  margin-left: 0.5rem;
}

.uni-Refinements-footer {
  background-color: #fff;
  border-top: 1px solid #ebecf3;
  box-shadow: 0 0 4px rgba(150, 150, 150, 0.24);
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5rem;
  width: 100%;
  z-index: 2;
}

/* Containers */

.uni-Content {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  overflow-x: hidden;
  padding: 2rem 1rem;
  @media (--algolia-theme-breakpoint-md-max) {
    padding-bottom: 6rem;
  }
}

.uni-LeftPanel {
  flex: 1;
  margin-right: 60px;
  max-width: 260px;
  @media (--algolia-theme-breakpoint-md-max) {
    bottom: 0;
    height: 100%;
    left: 6rem;
    margin: 0;
    max-width: 100%;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 6rem);
    z-index: 2;
  }
  @media (--algolia-theme-breakpoint-sm-max) {
    left: 3rem;
    width: calc(100% - 3rem);
  }
}

.uni-LeftPanel-Overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: opacity;
  z-index: 2;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
  @media (--algolia-theme-breakpoint-md-max) {
    pointer-events: none;
  }
}

.uni-RightPanel {
  flex: 3;
}

.uni-BodyHeader {
  border-bottom: 1px solid #ebecf3;
  padding-bottom: 1.5rem;
}

.uni-BodyHeader-heading {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  @media (--algolia-theme-breakpoint-md-max) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.uni-BodyHeader-sortBy,
.uni-BodyHeader-extraOptions {
  display: flex;
}

.uni-Label {
  font-size: 0.678rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  line-height: 1.6;
  padding-right: 8px;
  text-transform: uppercase;
}

.uni-BodyHeader-sortBy {
  align-items: flex-start;
  margin-left: 1rem;
  @media (--algolia-theme-breakpoint-md-max) {
    margin-left: 0;
  }
  .uni-Label {
    white-space: nowrap;
  }
  .ais-SortBy {
    display: flex;
    flex-wrap: nowrap;
  }
}

.uni-BodyHeader-extraOptions {
  align-items: center;
  @media (--algolia-theme-breakpoint-md-max) {
    justify-content: space-between;
    padding-top: 0.2rem;
    width: 100%;
  }
  > * + * {
    margin-left: 1rem;
  }
}

.uni-BodyHeader-view {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}

.uni-BodyHeader-viewButton {
  background: none;
  border: 0;
  border: 1px solid transparent;
  color: #ccc;
  cursor: pointer;
  padding: 0;
  padding: 0.5rem;
  &[disabled] {
    cursor: not-allowed;
  }
  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border-color: #ddd;
    box-shadow: 0 2px 6px rgba(200, 200, 200, 0.24);
    color: var(--algolia-theme-color-primary);
  }
}

.uni-BodyHeader-viewButton--active {
  color: #21243d;
}

.uni-BodyContent {
  display: block;
  padding-top: 1.5rem;
}

/* Panel */

.ais-Panel {
  border-top: 1px solid #ebecf3;
  padding: 2rem 0;
  @media (--algolia-theme-breakpoint-md-max) {
    padding: 0;
  }
}

/* Stats */

.uni-BodyHeader-stats {
  padding: 0.4rem 0;
}

.ais-Stats-text {
  font-size: 20px;
  font-weight: bold;
  @media (--algolia-theme-breakpoint-md-max) {
    font-size: 18px;
  }
}

.ais-Stats-mainText {
  color: var(--algolia-theme-color-primary);
  font: inherit;
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ais-ToggleRefinement-checkbox {
  font: inherit;
  margin-left: 1rem;
  margin-right: 0;
  position: relative;
  &::before {
    align-items: center;
    color: rgba(33, 36, 61, 0.32);
    content: 'No';
    display: flex;
    font-size: 0.8rem;
    height: 16px;
    position: absolute;
    right: 38px;
  }
  &:checked {
    &::before {
      color: var(--algolia-theme-color-primary);
      content: 'Yes';
    }
  }
}

.ais-ToggleRefinement-count {
  display: none;
}

/* RatingMenu */

.ais-RatingMenu-item {
  &:not(.ais-RatingMenu-item--selected) {
    opacity: 0.5;
  }
}

.ais-RatingMenu-starIcon {
  margin-right: 0.5rem;
}

/* RefinementList */

.uni-RefinementList-ListContainer {
  max-height: 300px;
  overflow-y: scroll;
}

/* Hits */

.uni-Hits--listView {
  display: flex;
  flex-direction: column;
}

/* Filters button */

.uni-FiltersButton {
  align-items: center;
  background-color: var(--algolia-theme-color-primary);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border: 0;
  border-radius: 5px;
  bottom: 4rem;
  box-shadow: 0 4px 22px 0 rgba(200, 200, 200, 0.5);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  left: 50%;
  min-width: 112px;
  position: fixed;
  transform: translateX(-50%);
  z-index: 3;
  @media (--algolia-theme-breakpoint-sm-max) {
    bottom: 2rem;
  }
}

.uni-FiltersButton svg {
  height: 14px;
  margin-right: 8px;
  width: 16px;
}

.uni-FiltersButton-Count {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 9999px;
  margin-left: 0.5rem;
  min-width: 22px;
  padding: 2px 6px;
}

/* Container & Overlay */

.uni-Container {
  background: #fff;
  border-radius: 2px;
  bottom: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.62),
    inset 0 0 1px rgba(255, 255, 255, 0.9);
  font-family: var(--algolia-theme-text-fontFamily);
  -webkit-font-smoothing: antialiased;
  left: 0;
  margin: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  * {
    outline-color: var(--algolia-theme-color-primary);
  }
  @media (--algolia-theme-breakpoint-md-max) {
    margin: 0;
    &.uni-Container--filtering {
      overflow: hidden;
      .uni-LeftPanel {
        pointer-events: auto;
      }
      .uni-LeftPanel-Overlay {
        opacity: 1;
        pointer-events: auto;
      }
      .uni-Refinements {
        overflow-y: hidden;
        transform: translateX(0);
      }
      .uni-Refinements-scrollable {
        overflow-y: scroll;
      }
      .uni-FiltersButton {
        z-index: auto;
      }
    }
  }
}

.uni-Overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

/* No Results */

.uni-NoResults-Title {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.uni-NoResults-ResultSuggestionTitle {
  padding: 1rem 0;
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.uni-NoResults-ClearButton,
.uni-NoResults-SuggestionButton {
  background: none;
  border: 0;
  border-bottom: 1px solid var(--algolia-theme-color-primary);
  color: var(--algolia-theme-color-primary);
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.uni-NoResults-Suggestions {
  display: flex;
}

.uni-NoResults-SuggestionTitle {
  margin-right: 0.5rem;
}

.uni-NoResults-SuggestionList {
  display: flex;
  margin: 0;
}

.uni-NoResults-SuggestionItem:not(:last-of-type) {
  margin-right: 0.5rem;
}

.uni-NoResults-SeeAll {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.uni-NoResults-SeeAllButton {
  background: none;
  background-color: var(--algolia-theme-color-primary);
  border: 1px solid #ddd;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

/* Mobile-only */

[data-layout='mobile'] {
  @media (--algolia-theme-breakpoint-above-md) {
    display: none;
  }
}
