* {
  font-family: system-ui;
}

h1, h2, h3, h4 {
  margin: 0;
}

body.with-euip-modal-open {
  overflow: hidden;
}

#euip-wrapper {
  background-color: #fff;
  position: fixed;
  top: 116px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;

  .euip {
    width: 64rem;
    margin: 0 auto;

    p, ul {
      margin: 0;
    }

    &-searchBar {
      background-color: #fff;
      position: sticky;
      top: 0;
      z-index: 2;
      margin-top: 24px;
      padding: 0 12px;

      &-inner {
        background-color: #fff;
      }

      &-close {
        position: absolute;
        top: 4px;
        right: 16px;
        font-size: 32px;
        cursor: pointer;
        color: grey;
        z-index: 3;
      }

      &-input {
        width: 100%;
        margin-top: 4px;
        font-size: 24px;
        font-family: system-ui;
        font-weight: bold;
        padding: 4px 0;
        background: none;
        border: none;
        color: #333;

        &::placeholder {
          font-weight: normal;
          color: #d0d0d0;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-RefinementsTags {
      list-style: none;
      padding: 0 8px;
      margin: 0 !important;

      &-tag {
        display: inline-block;
        font-size: 14px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 24px;
        color: #333;
        cursor: pointer;
        position: relative;
        padding: 3px 22px 4px 10px;
        text-transform: capitalize;
        user-select: none;
        background-color: #ececec;

        em {
          font-weight: bold;
          font-style: normal;
        }

        &:after {
          content: "✕";
          position: absolute;
          top: 5px;
          right: 7px;
          font-size: 12px;
        }
      }
    }

    &-Banner--content {
      width: 100%;
    }

    &-leftColumn, &-rightColumn {
      padding: 0 12px;
    }

    &-leftColumn {
      display: inline-block;
      vertical-align: top;
      width: calc(25% - 24px);
      margin-top: 86px;
      position: sticky;
      top: 0;
    }

    &-rightColumn {
      display: inline-block;
      margin-top: 24px;
      vertical-align: top;
      width: calc(75% - 24px);
    }

    &-Stats {
      width: calc(100% - 30px);
      padding: 0 15px 10px 15px;
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      .ais-Stats {
        flex: 0 0 50%;
        font-size: 12px;
      }

      .ais-Stats-page {
        flex: 0 0 50%;
        font-size: 12px;
        text-align: right;
      }
    }

    .ais-Panel {
      padding: 12px 0;
      color: #21243d;

      &-wrapper {
        position: relative;
      }

      &-header {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 0;
        border-radius: 4px;
        position: relative;
        letter-spacing: 1.3px;
        cursor: pointer;
      }

      &-body {
        font-size: 12px;
      }

      &.opened, &.closed {
        .ais-Panel-header:after {
          position: absolute;
          top: 1px;
          right: 0;
          font-weight: normal;
          font-size: 16px;
          color: #c7c7c7;
        }
      }

      &.closed {
        .ais-Panel-header:after {
          content: "+";
        }

        .ais-Panel-body {
          display: none;
        }
      }

      &.opened {
        .ais-Panel-header:after {
          content: "-";
        }
      }

      &-collapse {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 28px;
        cursor: pointer;
      }
    }

    .ais-RefinementList {
      padding: 8px 0;

      &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        line-height: 2.2;
      }

      &-labelText {
        margin-left: 6px;
      }

      &-count {
        display: inline-block;
        float: right;
        background: #efefef;
        padding: 0 8px;
        border-radius: 6px;
        font-size: 10px;
      }

      &-item {
        &--selected {
          font-weight: bold;
        }
      }

      &-showMore {
        width: calc(100% - 16px);
        background: #eee;
        outline: none;
        display: block;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 6px 8px;
        border-radius: 0;
        margin: 10px 0 0;
        border: 0;
        cursor: pointer;
        box-sizing: content-box;
      }
    }

    .ais-Highlight {
      &-highlighted {
        font-style: normal;
        font-weight: bold;
      }
    }

    .ais-SearchBox {
      &-form {
        input {
          margin-bottom: 8px;
          border: none;
          outline: none;
          background: #f3f3f3;
          font-size: 12px;
          padding: 10px 12px;
          width: 100%;
        }
      }

      &-submit, &-reset {
        display: none;
      }
    }

    .ais-PredictiveSearchBox {
      background-color: #fff;
      box-shadow: none;

      &-input {
        width: 100%;
        margin-top: 4px;
        font-size: 24px;
        font-family: system-ui;
        padding: 4px 0;
        background: none;
        border: none;
        color: #333;
        font-weight: bold;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 12px;

        &::placeholder {
          color: #b1b1b1;
          font-weight: normal;
        }
      }

      &-resetIcon {
        display: none;
      }

      .ais-PredictiveBox {
        position: absolute;
        font-size: 24px;
        font-family: system-ui;
        font-weight: bold;
        padding: 4px 0;
        top: 4px;
      }

      .ais-SuggestionTag {
        padding: 8px 6px;
        em {
          text-decoration: none;
        }
      }
    }

    .ais-SuggestionTagsContainer {
      padding-left: 0;
      margin-top: 16px;

      .ais-SuggestionTag {
        margin-right: 16px;
        font-size: 16px;
        background: none;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .ais-InfiniteHits {
      &-list {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        margin-top: 10px;
        padding: 0;
        width: 100%;
      }

      &-item {
        flex: 0 1 calc(33.33% - 24px);
        border: none;
        padding: 0 12px 48px;
      }

      &-lastSentinel {
        align-self: flex-end;
        width: 0px;
        height: 0px;
        padding: 10px;
      }

      &-sentinel {
        align-self: flex-end;
        width: 0px;
        height: 0px;
      }

      &-previous {
        border: 1px solid #aaa;
        color: #444;
        width: calc(100% - 40px);
        margin: 10px auto 0 auto;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        box-sizing: content-box;
        padding: 4px 7px;
        border-radius: 2px;
      }

      &-image {
        display: block;
        text-align: center;
        height: 260px;

        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-content {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.4;
      }

      &-category {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #949494;
      }

      &-title {
        font-size: 16px;
        font-weight: bold;
      }

      &-price {
        font-weight: bold;
        font-size: 15px;
        margin-top: 4px;
      }

      .ais-Highlight {
        &-highlighted {
          text-decoration: underline;
        }
      }
    }

    .ais-Pagination {
      &-list {
        padding: 0;
        list-style-type: none;
        text-align: center;
        margin: 0 0 48px;
      }

      &-item {
        display: inline-block;
        margin-right: 8px;
        padding: 5px 16px;
        border-radius: 4px;
        line-height: 1.6;
        border: 1px solid #e2e2e2;
      }
    }

    .ais-RheostatRangeSlider {
      top: 5px;
    }

    .ais-QueryRuleCustomData {
      a {
        display: block;
        padding: 0 12px;
        margin-bottom: 15px;
      }
    }

    .ais-ColorRefinementList {
      &-container {
        padding: 10px 0;
      }

      &-showMore {
        display: block;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 6px 8px;
        border-radius: 0;
        margin: 0;
      }

      .ais-ColorRefinementElement {
        border-radius: 50%;
        padding-bottom: 0;
        width: 24px;
        height: 24px;
        box-shadow: none;
        margin: 0 6px 6px 0;
        border: 1px solid #e0e0e0;
      }
    }

    .ais-GroupSizeRefinementList {
      &-container {
        padding: 10px 0;
      }

      &-showMore {
        display: block;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 6px 8px;
        border-radius: 0;
        margin: 0;
      }
    }
  }

  &.mobile {
    top: 0;
    height: 100vh;
    -webkit-overflow-scrolling: touch;

    .euip {
      width: 100%;

      &-searchBar {
        position: sticky;
        top: 0;
        width: calc(100% - 24px);
        padding-top: 14px;
        padding-left: 12px;
        padding-right: 12px;
        border-bottom: 0;

        &-input {
          margin-top: 3px;
          margin-left: 2px;
          font-size: 16px;
        }

        &-close {
          position: absolute;
          right: 16px;
          top: 6px;
          right: 16px;
          font-size: 38px;
          color: #8e8e8e;
        }
      }

      &-SidebarPanel {
        display: inline-block;
        width: 50%;
        vertical-align: middle;

        &-sidebar {
          display: none;
          background: #000000ab;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100vh;
          overflow: hidden;
        }

        &-inner {
          display: block;
          position: relative;
          background: #fff;
          width: 85%;
          height: 100vh;
          z-index: 3;
          overflow-y: scroll;
          margin-bottom: 200px;
          box-sizing: border-box;
          padding: 0 16px;
        }

        &-button {
          text-align: center;
          background: #eaeaea;
          margin-top: 18px;
          padding: 8px 0;
          width: calc(100% - 24px);
          margin-left: auto;
          margin-right: auto;
          border-radius: 4px;
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;
        }

        &-title {
          height: 40px;
          line-height: 40px;
          color: #21243d;
          font-size: x-large;
          text-align: center;
          margin-bottom: -10px;
        }

        &-close {
          display: block;
          position: absolute;
          color: gray;
          top: -5px;
          left: calc(85% - 45px);
          text-align: center;
          font-size: 46px;
          padding: 0 10px 10px;
          line-height: 0.9;
          margin: 0;
          z-index: 3;
        }

        &-fill-close {
          display: block;
          position: absolute;
          top: 0;
          left: 85%;
          width: 15%;
          height: 100%;
          margin: 0;
          z-index: 3;
        }

        &-trigger {
          text-align: center;
        }

        &.opened {
          .euip-SidebarPanel-sidebar {
            display: block;
          }
        }
      }

      &-RefinementsTags {
        padding: 0;
      }

      &-BottomActions {
        position: sticky;
        top: 74vh;
        right: 0;
        z-index: 4;
        background: #ffffff;
        width: 80%;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -32px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        &-action {
          display: inline-block;
          width: calc(50% - 1px);
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          padding: 12px 0;
          letter-spacing: 2px;
        }
      }

      .ais-Panel {
        &-wrapper {
          width: calc(100% - 15px);
          padding: 0 10px 0 5px;
        }
      }

      .ais-QueryRuleCustomData {
        a {
          padding-top: 16px;
          margin-bottom: -4px;
        }
      }

      .ais-InfiniteHits {
        &-item {
          width: calc(50% - 12px);
          flex-basis: calc(50% - 12px);
          padding: 0 6px 36px;
        }
      }
    }

    .ais-PredictiveSearchBox {
      border-radius: 0;

      &-input, #predictive-item {
        font-size: 18px;
      }

      &-resetIcon {
        display: none;
      }
    }

    .ais-SuggestionTagsContainer {
      display: block !important;
      padding: 0;
      margin: 0;
      overflow: auto;

      .ais-SuggestionTag {
        background: none;
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
      }
    }

    .ais-SortBy {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      text-align: center;

      &-select {
        font-size: 16px;
        text-transform: uppercase;
        width: calc(100% - 24px);
        padding: 8px 0;
        margin-top: 18px;
        background: #eaeaea;
        border: none;
        text-align: center;
      }
    }

    &.with-slidebar-open {
      overflow: hidden;

      .euip-BottomActions {
        position: initial;
      }

      .euip-SidebarPanel-trigger {
        display: none;
      }
    }
  }
}