* {
  font-family: system-ui;
}

h1, h2, h3, h4 {
  margin: 0;
}

#euip-wrapper {
  background-color: #fff;
  position: fixed;
  top: 175px;
  left: 0;
  width: 100%;
  height: calc(100vh - 175px);
  overflow-y: scroll;

  .euip {
    width: 64rem;
    margin: 0 auto;

    &--searchBar {

    }

    &--categorySuggestions {

    }

    &--leftColumn {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }

    &--rightColumn {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }
  }
}