* {
  font-family: system-ui;
}

h1, h2, h3, h4 {
  margin: 0;
}

#euip-wrapper {
  background-color: #fff;
  position: fixed;
  top: 175px;
  left: 0;
  width: 100%;
  height: calc(100vh - 175px);
  overflow-y: scroll;

  .euip {
    width: 64rem;
    margin: 0 auto;

    p, ul {
      margin: 0;
    }

    &-searchBar {
      background-color: #fff;
      position: fixed;
      width: 64rem;
      padding-top: 24px;
      z-index: 2;

      &-inner {
        height: 52px;
        border-radius: 6px;
        box-shadow: 0 20px 44px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
      }

      &-input {
        width: 95%;
        margin-top: 4px;
        margin-left: 10px;
        font-size: 20px;
        font-family: system-ui;
        padding: 10px;
        background: none;
        border: none;
        color: #333;

        &::placeholder {
          font-style: italic;
          color: #d0d0d0;
        }
      }
    }

    &-categorySuggestions {

    }

    &-leftColumn, &-rightColumn {
      margin-top: 136px;
    }

    &-leftColumn {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }

    &-rightColumn {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }

    .ais-Panel {
      border-top: 1px solid #eaeaea;
      padding: 12px 0;
      color: #21243d;

      &-header {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 0;
        border-radius: 4px;
        position: relative;
        letter-spacing: 1.3px;
        cursor: pointer;
        margin-bottom: 6px;
      }

      &-body {
        font-size: 12px;
      }

      &.opened, &.closed {
        .ais-Panel-header:after {
          position: absolute;
          top: 3px;
          right: 14px;
          font-weight: normal;
          font-size: 16px;
          color: #c7c7c7;
        }
      }

      &.closed {
        .ais-Panel-header:after {
          content: "+";
        }
      }

      &.opened {
        .ais-Panel-header:after {
          content: "-";
        }
      }
    }
  }
}